<!DOCTYPE html>
<html>
    <head>
        <title>Earthling Example</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1><%= err.message %></h1>
        <h2><%= err.status %></h2>
        <pre><%= err.stack %></pre>
    </body>
</html>
