<!DOCTYPE html>
<html lang="en" ng-app="earthlingExample">

<head>
    <title>Earthling Example</title>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <script src="dataService.js"></script>
    <script src="ngStorage.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body class="survey" ng-controller="ExampleController as app">
    <div class="interior">
        <div class="colorful">
            <h3>
                {{question}}
            </h3>
            <div ng-repeat="answer in answers | orderBy:'order'">
                <div class="pad5">
                    <input type="radio" name="myAnswer" ng-model="$parent.myAnswer" ng-value="answer._id" ng-disabled="answered"> {{answer.text}}
                    <div class="rightfloat" ng-if="answered">
                        ({{answer.tally}} answered {{showPercent(answer.tally)}}%)
                    </div>
                </div>
            </div>
            <button class="button" ng-if="!answered" ng-click="submitAnswer()">Submit Answer</button>
            <div ng-if="answered">
                <button class="button" ng-disabled=!available ng-click="nextQuestion()" ng-style="buttonColor">{{buttonText}}</button>
            </div>
        </div>
        <svg version="1.1" ng-class="{invisible: hideSpinner}" class="leftfloat spin" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
            <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z"></path>
        </svg>
        <div id="warning" ng-class="{invisible: hideMessage}">
            {{warningMessage}}
        </div>
        </div>
    </div>
</body>

</html>
