.survey .interior {
  position: relative;
  margin: 20px auto;
  width: 80%;
}
.survey .colorful {
  padding: 20px;
  background: -webkit-linear-gradient(135deg, rgba(255, 153, 0,1) 0%,rgba(255, 255, 102,1) 60%,rgba(255, 255, 255,1) 100%);
  border-radius: 10px;
  border: 2px solid black;
}
.survey .rightfloat {
  float: right;
}
.survey .leftfloat {
  float: left;
}
.survey #warning {
  color: red;
  padding: 20px;
}
.survey .pad5 {
  padding: 5px;
}
.survey .button {
  font-size: 1.5em;
  padding: 10px;
  border-radius: 10px;
  background: aqua;
  margin: 10px;
}
.survey .invisible {
  opacity: 0;
}
.survey * {
  transition-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  transition-duration: 0.5s;
  animation-duration: 0.5s;
  font-family: 'Lato', sans-serif;
}
@keyframes rotate {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(360deg);
  }
}
.survey .spin {
  -webkit-animation: rotate 1s infinite linear;
  animation: rotate 1s infinite linear;
}
